AuthName "login"
AuthType Basic
AuthUserFile /var/www/vhosts/yamaka-inventory.com/httpdocs/.htpasswd
AuthGroupFile /dev/null
require valid-user

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_URI} !^public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<IfModule mod_headers.c>
     Header set Access-Control-Allow-Origin "*"
</IfModule>