.record-table thead > tr > th {
  text-align: center;
}

.record-table tbody > tr > td {
  text-align: center;
}

.stock-table-head {
  text-align: center;
  background-color: #ffc107;
}

.stock-red {
  background-color: red;
  color: antiquewhite;
}

.stock-yellow {
  background-color: yellow;
  color: black;
}

.stock-purple {
  background-color: purple;
  color: antiquewhite;
}